[submodule "devtools/asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "nvim/pack/ages/start/vim-terraform"]
	path = nvim/pack/ages/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
