configuration {
  combi-modi: "window,drun,ssh,run";
  font:       "Hack 10";
  modi:       "combi,run";
  matching:   "fuzzy";
  show-icons: true;
  lines:      25;
  theme:      "gruvbox-dark";
}
@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
