/* Colors */
@define-color red_color #cc241d;
@define-color red2_color #fb4934;
@define-color green_color #98971a;
@define-color green2_color #d8bb26;
@define-color yellow_color #d79921;
@define-color yellow2_color #fabd2f;
@define-color blue_color #458588;
@define-color blue2_color #83a598;
@define-color purple_color #b16286;
@define-color purple2_color #d3869b;
@define-color aqua_color #689d6a;
@define-color aqua2_color #8ec07c;
@define-color gray_color #a89984;
@define-color gray2_color #928374;
@define-color orange_color #d65d0e;
@define-color orange2_color #fe8019;

@define-color bg_color #1d2021;
@define-color fg_color #e6e6e6;

@keyframes blink {
    to {
        color: #4c566a;
        background-color: @fg_color;
    }
}

* {
    color: @fg_color;
    border: 0px;
    border-radius: 0px;
    padding: 0 0px;
    font-weight: bold;
    font-family: MonaspiceNe Nerd Font;
    font-size: 13px;
    margin-right: 2px;
    margin-left: 2px;
    min-height: 0px;
    min-width: 12px;
}

window#waybar {
    background: transparent;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

#workspaces button {
    padding: 0 0px;
    border: 2px;
    color: @fg_color;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
}

#workspaces button.focused {
    border-color: @blue_color;
    border-style: solid;
}

#mode {
    color: @yellow_color;
}

#clock, #battery, #bluetooth, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #mode, #custom-rec, #custom-vpn, #custom-hyprsunset, #disk, #custom-player, #custom-wide #custom-wshowkeys {
    padding: 0 5px;
    border-bottom: 2px;
    border-style: solid;
}

#clock {
    border-color: transparent;
    border-style: solid;
}

#backlight {
    color: @yellow_color;
}

#custom-vpn {
    color: @aqua2_color;
}

#custom-player {
    color: @yellow_color;
}

#custom-player.paused {
    color: @gray2_color;
}

#custom-player.stopped {
    color: @gray_color;
}

#custom-mic {
    color: @purple_color;
}

#custom-mic.disabled {
    color: @gray_color;
}

#custom-rec {
    color: @red_color;
}

#custom-rec.disabled {
    color: @gray_color;
}

#custom-wide {
    color: @orange_color;
}

#custom-wide.disabled {
    color: @gray_color;
}

#custom-wshowkeys {
    color: @red_color;
}

#custom-wshowkeys.disabled {
    color: @gray_color;
}

#custom-hyprsunset {
    color: @orange_color;
}

#custom-hyprsunset.disabled {
    color: @blue_color;
}

#battery {
    color: @gray_color;
}

#battery.full {
    color: @green_color;
}

#battery.charging {
    color: @green2_color;
}

#battery.critical:not(.charging) {
    color: @orange2_color;
}

#battery.critical:not(.charging) {
    color: @red2_color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    color: @gray_color;
}

#bluetooth.connected {
    color: @blue_color;
}

#cpu {
    color: @fg_color ;
}

#memory {
    color: @green_color;
}

#network {
    color: @aqua2_color;
}

#network.disconnected {
    color: @orange2_color;
}

#pulseaudio {
    color: @blue2_color;
}

#pulseaudio.muted {
    color: @gray_color;
}

#temperature {
    color: @blue2_color;
}

#temperature.critical {
    color: @red2_color;
}

#disk {
  color: @gray_color
}

#tray {
}
