/***** START of Sample Rules (delete and replace with your your own rules) *****/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
/* Moves the main toolbar (#nav-bar) to the bottom of the window */
@-moz-document url(chrome://browser/content/browser.xhtml){

  :root:not([inFullscreen]){
    --uc-bottom-toolbar-height: calc(39px + var(--toolbarbutton-outer-padding) )
  }

  :root[uidensity="compact"]:not([inFullscreen]){
    --uc-bottom-toolbar-height: calc(32px + var(--toolbarbutton-outer-padding) )
  }

  #browser,
  #customization-container{ margin-bottom: var(--uc-bottom-toolbar-height,0px) }

  #nav-bar{
    position: fixed !important;
    bottom: 0px;
    /* For some reason -webkit-box behaves internally like -moz-box, but can be used with fixed position. display: flex would work too but it breaks extension menus. */
    display: -webkit-box;
    width: 100%;
    z-index: 1;
  }
  #nav-bar-customization-target{ -webkit-box-flex: 1; }

  /* Fix panels sizing */
  .panel-viewstack{ max-height: unset !important; }

  #urlbar[breakout][breakout-extend]{
    display: flex !important;
    flex-direction: column-reverse;
    bottom: -2px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner{ border-top-style: none !important; }

}

/* Squash tab bar to 1px tall and hide the tabs */
#TabsToolbar {
  height: 0px !important;
  min-height: 0px !important;
  max-height: 0px !important;
} 
#TabsToolbar .tabbrowser-tab {
  display: none !important;
}

/**** Maximize Print Overlay Preview Size ****/

  /** Allow panel to be taller and wider **/

  .dialogBox.printDialogBox[sizeto="available"]{
    --box-ideal-height: 888 !important;
    width: calc(1080px + 250px + 50px) !important;
    max-width: calc(100vw - 4px) !important;
    max-height: calc(100vh - var(--box-top-px) - 4px) !important;
  }


/**** Audio Playing / Mute Button side-by-side when sound is playing ****/

  #TabsToolbar {
    --user-mute-button-height: 20px;  /* default size is 12px, site icon is 16px */
  }

  /* Move the mute/unmute button to the right and enlarge it */
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    margin-left: calc(var(--user-mute-button-height) / 2 + 2px) !important; /* pushes icon to the right */
    margin-right: 2px !important; /* closes up some space before the text */
    padding: 0 !important; /* allows icon to expand to full size */
  }

  /* Move the site icon to the left a bit and adjust position */
  .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    margin-left: -4px !important; /* pushes icon to the left */
    margin-top: calc((var(--user-mute-button-height) - 16px) / 2) !important;  /* keep site icon reasonably positioned */
  }

  /* Override the rules for hover/not hover visibility */
   /* for mute button */
  .tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]), 
   /* for site icon */
  .tabbrowser-tab:hover .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay), 
   /* for site icon with Compact density */
  :root[uidensity="compact"] .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    opacity: 1 !important; /* overrides full transparency with full opacity */
  }

  /* Color the icon on hover for confirmation or avoidance */
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: green !important;
  }
  [lwthemetextcolor="bright"] .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: lightgreen !important; /* for dark themes */
  }

/***** END of Sample Rules *****/

