[Unit]
Description=foot
Documentation=man:foot(1)

[Service]
ExecStart=/usr/bin/foot --server
Restart=always
RestartSec=5
StartLimitBurst=3

[Install]
WantedBy=sway.target
