[Unit]
Description=mako is a lightweight notification daemon for Wayland compositors that support the layer-shell protocol. 
Documentation=https://wayland.emersion.fr/mako/

[Service]
ExecStart=/usr/bin/mako
Restart=on-failure

[Install]
WantedBy=default.target
