[Unit]
Description=A very nice animated wallpaper daemon for Wayland compositors
Documentation=https://github.com/vilhalmer/oguri/

[Service]
ExecStart=/usr/bin/oguri
Restart=on-failure

[Install]
WantedBy=default.target
