[Unit]
Description=Redshift adjusts the color temperature of your screen according to your surroundings.
Documentation=http://jonls.dk/redshift/

[Service]
ExecStart=/usr/bin/redshift -vm wayland
Restart=on-failure

[Install]
WantedBy=default.target
