[Unit]
Description=wayout

[Service]
ExecStart=/home/rafael_gumieri/.local/bin/wayout
Restart=on-failure

[Install]
WantedBy=graphical-session.target
