[Unit]
Description=wshowkeys
Documentation=man:wshowkeys(1)

[Service]
ExecStart=wshowkeys -t 2s -F 'hack 30' -a bottom -m 200
Restart=on-failure

[Install]
WantedBy=multi-user.target
